<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="auto.cn.appinspection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- <uses-sdk android:minSdkVersion="10" /> -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- <uses-feature> ：仅用于google应用商店发布时，需要配置 -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <application
        android:name=".bases.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_shangang"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon_shangang"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".atys.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".atys.AtyLogin" />
        <activity android:name=".atys.AtyWelcome"></activity>
        <activity
            android:name=".atys.AtyPlan"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".atys.AtyUserRegist" />
        <activity android:name=".atys.GestureEditActivity" />
        <activity android:name=".atys.GestureVerifyActivity" />
        <activity android:name=".atys.AtyAbout" />
        <activity android:name=".test.AtyLoginTest" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileproviderpath" />
        </provider>

        <activity android:name=".atys.AtyPlanCheck">

        </activity>
        <activity android:name=".atys.AtyAreaScan" />
        <activity android:name=".atys.AtyPlanManager" />
        <activity android:name=".atys.AtyNfcFunc">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>